@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
